.App {
    min-height: 100vh;
    background-image: linear-gradient(lightpink, violet);
}

.LogButtons {
    display:flex;
    justify-content: center;
}

.Articles {
    display:flex;
    justify-content: center;
}
